 {{#each data}}
 <div class="card" style="width: 18rem; display: inline-block; margin: 20px">
  <div class="card-body">
          <h3 class="name">{{first_name}}</h3>
          <h3 class="name">{{last_name}}</h3>
          <h5 class="name">{{department}}</h5>
          <h5 class="name">{{salary}}</h5>
          <button class='delete' data-id={{id}}>Delete</button>
               </div>
</div>
 {{/each}}
   